
  
.full{
    height: 100vh;
    position: fixed;
}
  .sidenav {
    width: 220px;
    background-color: #f4f4f4;
    padding-top: 16px;
  }
  
  .content-area {
    padding: 24px;
  }
  .spacer {
    flex: 1 1 auto;
  }